In [12]:
!pip3 install -U selenium
!pip3 install webdriver-manager

Requirement already satisfied: selenium in /home/ph/anaconda3/lib/python3.9/site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in /home/ph/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /home/ph/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /home/ph/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in /home/ph/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /home/ph/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /home/ph/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in /home/ph/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: certifi in /home/ph/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cryptography>=1.3.4 in /home/ph/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: cffi>=1.12 in /home/ph/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /home/ph/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /home/ph/anaconda3/lib/python3.9/site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in /home/ph/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: webdriver-manager in /home/ph/anaconda3/lib/python3.9/site-packages (3.8.2)
Requirement already satisfied: requests in /home/ph/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: python-dotenv in /home/ph/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (0.20.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/ph/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/ph/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /home/ph/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ph/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.9)

In [13]:
# Chrome -> chromedriver
# firefox -> geckodriver

In [14]:
# passo 1: pegar a cotacao dolar
# passo 2: pegar a cotacao euro
# passo 3: pegar a cotacao ouro
# passo 4: atualizar a base de dados
# passo 5: recalcular os precos
# passo 6: exportar a base de dados

In [15]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# passo 1: pegar a cotacao dolar
# abrir o navegador
driver = webdriver.Chrome()

# abrir o google
driver.get('https://www.google.com.br/')

# pesquisar a cotacao do dolar
driver.find_element('xpath', 
                    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dolar')

driver.find_element('xpath', 
                    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

dolar_value = driver.find_element('xpath',
                                 '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(dolar_value)

5.1728

In [16]:
# abrir o google
driver.get('https://www.google.com.br/')

# passo 2: pegar a cotacao euro
driver.find_element('xpath', 
                    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')

driver.find_element('xpath', 
                    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

euro_value = driver.find_element('xpath',
                                 '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')


print(euro_value)

5.2900673760000005

In [17]:
# abrir o site com cotação do ouro
driver.get('https://www.melhorcambio.com/ouro-hoje')

# passo 3: pegar a cotacao ouro
gold_value = driver.find_element('xpath', 
                    '//*[@id="comercial"]').get_attribute('value')

print(gold_value)

293,37

In [18]:
# transformar para o formato de concatenação do python
gold_value = gold_value.replace(',','.')
print(gold_value)

# Fechar o navegador 
driver.quit()

293.37

In [19]:
import pandas as pd

# passo 4: atualizar a base de dados

# importar a base de dados
dataframe = pd.read_excel('data/Produtos.xlsx')

display(dataframe)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [20]:
# passo 5: recalcular os precos

# atualizar as cotações 
dataframe.loc[dataframe['Moeda'] == 'Dólar', 'Cotação'] = float(dolar_value)
dataframe.loc[dataframe['Moeda'] == 'Euro', 'Cotação'] = float(euro_value)
dataframe.loc[dataframe['Moeda'] == 'Ouro', 'Cotação'] = float(gold_value)

display(dataframe)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.172800,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.290067,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.172800,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.172800,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.290067,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.172800,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,293.370000,7000.00,1.15,8050.000

In [21]:
# atulizar o Preço de Compra = Preço Original * Cotação
dataframe['Preço de Compra'] = dataframe['Preço Original'] * dataframe['Cotação']

# atulizar o Preço de Venda = Preço de Compra * Margem
dataframe['Preço de Venda'] = dataframe['Preço de Compra'] * dataframe['Margem']

display(dataframe)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.172800,5172.748272,1.40,7241.847581
1,Carro Renault,4500.00,Euro,5.290067,23805.303192,2.00,47610.606384
2,Notebook Dell,899.99,Dólar,5.172800,4655.468272,1.70,7914.296062
3,IPhone,799.00,Dólar,5.172800,4133.067200,1.70,7026.214240
4,Carro Fiat,3000.00,Euro,5.290067,15870.202128,1.90,30153.384043
5,Celular Xiaomi,480.48,Dólar,5.172800,2485.426944,2.00,4970.853888
6,Joia 20g,20.00,Ouro,293.370000,5867.400000,1.15,6747.510000

In [22]:
# passo 6: exportar a base de dados

# index=False remove a coluna com o índice de linha
dataframe.to_excel('Produtos-novo.xlsx', index=False)